# Enforce LF line endings in the repository for all text files
* text=auto eol=lf

# Explicitly mark binary files
*.joblib binary
*.onnx binary
*.onnx.data binary
*.png binary
*.jpg binary
*.xlsx binary
*.xls binary
